*{margin: 0px; padding: 0px; box-sizing: border-box;}

.container{
    margin: 0; height: 100vh; display: flex;
    overflow: hidden; position: relative; justify-content: center;
}
.nav{
    position: absolute; margin-top: 15px;
    height: 7%; width: 100%; 
    background-image: linear-gradient(to right, #fbc500, #f9ce47, #fee8a1, #f8f4e5, #f7f5f0, #ffffff);   
}

.logo{
    height: 100px; width: 100px; float: left;
    margin-left: 20px; margin-top: -20px; 
   
}
a{
    height: 100%; width: 120px; float: left; margin-left: 20px;
    text-align: center; justify-content: center; 
    align-items: center; display: flex; 
    color: black; transition: all 0.5s;
    font-weight: bold; text-decoration: none;
}
a:hover{background: black; color: white; transform: scale(1.2);}


.main{
    position: relative; 
    height: auto; width: 100%; margin-top: 100px;
    display: flex; justify-content: center;
    
}
.left{
    position: relative; height: auto; width: 60%; float: left;
    display: flex; justify-content: center; 
    animation: result 1s; animation-fill-mode: forwards;
}
 @keyframes result{
    0%{ transform: translatex(-100px);}
    100%{  transform: translatex(0px);}

}

p{color: rgb(255, 196, 0);}
.hea{
    position: absolute; margin-top: 80px;
    height: 130px; width: 75%;
    color: black; display: flex; margin-left: 25%;
    font-size: 80px; font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 45%; margin-left: -45px;
    margin-top: 19%; position: absolute;
}
.bdy{
    margin-top: 150px;
    position: absolute; margin-left: 25%;
    height: 500px; width: 75%;
    
}
.lft{
     height: auto; width: 50%;
      margin-top: 40px;
      margin-left: 2px; position: absolute;
}
.rgt{
    position: absolute;
    height: auto; width: 50%; float: right;
    margin-top: 40px;
     margin-left: 270px;
}
span {
    font-weight: bold;
    font-size: 25px;  font-family: Arial, Helvetica, sans-serif;
}
li{
    font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}

.right{
    position: relative; height: auto; width: 40%;
    display: flex;
    animation: resultt 1s; animation-fill-mode: forwards;
}
 @keyframes resultt{
    0%{ transform: translatex(100px);}
    100%{  transform: translatex(-0px);}
} 


table{
    margin-top: 100px; 
    text-align: center;
    border: 1px solid white;
    box-shadow: 5px 5px 15px black;
}
td{
    background: rgba(241, 218, 143, 0.748);
    transition: all 0.5s;
    transform-style: preserve-3d;
}
img{
    height: 70px; width: 70px;
}
td:hover{
transform: scale(1.5);
border-radius: 20%;
}














@media only screen and (max-width: 600px) {
    .container{
        margin: 0; height: 750px;  
        overflow: hidden; position: relative;
        
    }

    .nav{
        position: absolute; margin-top: 15px;
        height: 45px; width: 100%;  float: left;
       
        background-image: linear-gradient(to right, #fbc500, #f9ce47, #fee8a1, #f8f4e5, #f7f5f0, #ffffff);
        
    }
    .logo{
        height: 80px; width: 80px;
        margin-left: 15px; margin-top: -18px; 
    }
    .logo img{
        height: 100%; width: 100%;
    }
    a{
        height: 100%; width: 50px; float: left; margin-left: 10px;
        text-align: center; justify-content: center; 
        align-items: center; display: flex;  font-size: 10px;
        color: black; transition: all 0.5s;
        font-weight: bold; text-decoration: none;
        
    }
















.main{
    position: relative; 
    height: auto; width: 100%; margin-top: 100px;
    display: flex; justify-content: center; 
    
}
.left{
    position: absolute; height: 400px; width: 100%; float: left;
    display: flex; justify-content: center; 
}

p{
    color: rgb(255, 196, 0); margin-left: -90px;
    margin-top: -90px;
    font-size: 55px;
}
hr{
    width: 90%; margin-left: -10px;
    margin-top: 50px; 
}

.bdy{
    margin-top: 50px;
    position: absolute; margin-left: -25px;
    height: 500px; width: 75%;
    
}
.lft{
     height: auto; width: 50%;
      margin-top: 40px;
      margin-left: 2px; position: absolute;
}
.rgt{
    position: absolute;
    height: auto; width: 60%; float: right;
    margin-top: 40px;
     margin-left: 200px;
}
span {
    font-weight: bold;
    font-size: 25px;  font-family: Arial, Helvetica, sans-serif;
}
li{
    font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}



.right{
    position: absolute; height: 50vh; width: 80%;
    display: flex;  align-items: center ; justify-content: center;
    margin-top: 230px;
    margin-left: 20px;
}

table{
    margin-top: 10px; 
    text-align: center;
    border: 1px solid white;
    box-shadow: 5px 5px 15px black;
}
td{
    background: rgba(241, 218, 143, 0.748);
    transition: all 0.5s;
    transform-style: preserve-3d;
}
table{
    height: 300px; width: 300px;
}
img{
    height: 70px; width: 70px;
}
td:hover{
transform: scale(1.5);
border-radius: 20%;
}

}